 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 889px;
}

.u-section-1 .u-text-1 {
  width: 707px;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 18.75px));
  min-height: 867px;
  grid-gap: 25px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-image-1 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-image-2 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-image-3 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-image-4 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-image-5 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-image-6 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-7 {
  padding: 20px;
}

.u-section-1 .u-image-7 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-15 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-8 {
  padding: 20px;
}

.u-section-1 .u-image-8 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-16 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-17 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-9 {
  padding: 20px;
}

.u-section-1 .u-image-9 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-18 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-19 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-10 {
  padding: 20px;
}

.u-section-1 .u-image-10 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-20 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-21 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-11 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-11 {
  padding: 20px;
}

.u-section-1 .u-image-11 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-22 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-23 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-12 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-12 {
  padding: 20px;
}

.u-section-1 .u-image-12 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-24 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-25 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-13 {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-13 {
  padding: 20px;
}

.u-section-1 .u-image-13 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-26 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-27 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 718px;
  }

  .u-section-1 .u-image-1 {
    height: 183px;
  }

  .u-section-1 .u-image-2 {
    height: 183px;
  }

  .u-section-1 .u-image-3 {
    height: 183px;
  }

  .u-section-1 .u-image-4 {
    height: 183px;
  }

  .u-section-1 .u-image-5 {
    height: 183px;
  }

  .u-section-1 .u-image-6 {
    height: 183px;
  }

  .u-section-1 .u-image-7 {
    height: 183px;
  }

  .u-section-1 .u-image-8 {
    height: 183px;
  }

  .u-section-1 .u-image-9 {
    height: 183px;
  }

  .u-section-1 .u-image-10 {
    height: 183px;
  }

  .u-section-1 .u-image-11 {
    height: 183px;
  }

  .u-section-1 .u-image-12 {
    height: 183px;
  }

  .u-section-1 .u-image-13 {
    height: 183px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2451px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 1958px;
  }

  .u-section-1 .u-image-1 {
    height: 300px;
  }

  .u-section-1 .u-image-2 {
    height: 300px;
  }

  .u-section-1 .u-image-3 {
    height: 300px;
  }

  .u-section-1 .u-image-4 {
    height: 300px;
  }

  .u-section-1 .u-image-5 {
    height: 300px;
  }

  .u-section-1 .u-image-6 {
    height: 300px;
  }

  .u-section-1 .u-image-7 {
    height: 300px;
  }

  .u-section-1 .u-image-8 {
    height: 300px;
  }

  .u-section-1 .u-image-9 {
    height: 300px;
  }

  .u-section-1 .u-image-10 {
    height: 300px;
  }

  .u-section-1 .u-image-11 {
    height: 300px;
  }

  .u-section-1 .u-image-12 {
    height: 300px;
  }

  .u-section-1 .u-image-13 {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 488px;
  }

  .u-section-1 .u-image-2 {
    height: 488px;
  }

  .u-section-1 .u-image-3 {
    height: 488px;
  }

  .u-section-1 .u-image-4 {
    height: 488px;
  }

  .u-section-1 .u-image-5 {
    height: 488px;
  }

  .u-section-1 .u-image-6 {
    height: 488px;
  }

  .u-section-1 .u-image-7 {
    height: 488px;
  }

  .u-section-1 .u-image-8 {
    height: 488px;
  }

  .u-section-1 .u-image-9 {
    height: 488px;
  }

  .u-section-1 .u-image-10 {
    height: 488px;
  }

  .u-section-1 .u-image-11 {
    height: 488px;
  }

  .u-section-1 .u-image-12 {
    height: 488px;
  }

  .u-section-1 .u-image-13 {
    height: 488px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 286px;
  }

  .u-section-1 .u-image-2 {
    height: 286px;
  }

  .u-section-1 .u-image-3 {
    height: 286px;
  }

  .u-section-1 .u-image-4 {
    height: 286px;
  }

  .u-section-1 .u-image-5 {
    height: 286px;
  }

  .u-section-1 .u-image-6 {
    height: 286px;
  }

  .u-section-1 .u-image-7 {
    height: 286px;
  }

  .u-section-1 .u-image-8 {
    height: 286px;
  }

  .u-section-1 .u-image-9 {
    height: 286px;
  }

  .u-section-1 .u-image-10 {
    height: 286px;
  }

  .u-section-1 .u-image-11 {
    height: 286px;
  }

  .u-section-1 .u-image-12 {
    height: 286px;
  }

  .u-section-1 .u-image-13 {
    height: 286px;
  }
}