.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

.u-section-1 .u-image-1 {
  width: 100px;
  height: 140px;
  margin: 50px auto 0;
}

.u-section-1 .u-text-1 {
  width: 134px;
  margin: 26px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 421px;
    margin-left: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 221px;
    margin-left: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }
}